@import '../styles/variables.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden; /* Запобігаємо горизонтальній прокрутці */
}

/* Змінні для кольорів та інших глобальних значень */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #eaeaea;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Базові стилі для темної теми */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --border-color: #333333;
  }
}
