.body {
  margin: 0;
  padding: 0;
  padding-top: var(
    --fixed-top-height
  ); /* Додамо відступ зверху для фіксованих елементів */
}

.fixedTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--background-color);
}

.mainContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
